@charset "utf-8";

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('../font/NotoSans-Regular.eot');
   src: url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
   url('../font/NotoSans-Regular.woff2') format('woff2'),
   url('../font/NotoSans-Regular.woff') format('woff');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 600;
   src: local('Noto Sans medium'), local('NotoSans-Medium'), url('../font/NotoSans-Medium.eot');
   src: url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
   url('../font/NotoSans-Medium.woff2') format('woff2'),
   url('../font/NotoSans-Medium.woff') format('woff');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../font/NotoSans-Bold.eot');
   src: url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
   url('../font/NotoSans-Bold.woff2') format('woff2'),
   url('../font/NotoSans-Bold.woff') format('woff');
}

html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input,
article, aside,
button,
pre {font-family:'Noto Sans KR','돋움','Nanum Barun Gothic',Dotum, Arial, Helvetica, AppleGothic, sans-serif}