<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
<head>
    <title>보드정보</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" 
		href="../../css/style.css"></link>
</head>
<body>

<form role="form" action="upload" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:15%"/>
            <col style="width:0%"/>
        </colgroup>
        <tbody>
            <tr> 
                <td>
                    <input type="hidden" name="seq" placeholder="글번호" required/>
                    <div class="input-form-box"><input type="text" name="title" placeholder="제목" required class="form-control"></div>
                </td>
            </tr>
            <tr> 
                <td>
                  <div class="input-form-box1"> <textarea colspan="4" id="story" name="content" placeholder="내용을 적어주세요." rows="5" cols="200" required class="form-control"></textarea></div>
                </td>
            </tr>
            <tr> 
                <td>
                    <input type="file" id="file" name="files" multiple />
                </td>
            </tr>
        </tbody>
       </table>
       <br>
       <div class="button-login-box">
            <button type="submit" class="btn btn-primary btn-xs">글쓰기</button>
       </div>
    </div>
</form>
</div>
</body>
</html>